<script src="/gui/js/shared.js"></script>
<html>
<head>
  <title>Chain | Dashboard</title>
  <link rel="shortcut icon" type="image/png" href="/gui/img/favicon.png"/>
  <link rel="stylesheet" href="/gui/css/shared.css">
  <link rel="stylesheet" href="/gui/css/navbar.css">
  <link rel="stylesheet" href="/gui/css/tabs.css">
  <link rel="stylesheet" href="/chain/css/modal.css">
  <link rel="stylesheet" href="/gui/jquery/jquery.dataTables.min.css">
  <link rel="stylesheet" href="/chain/css/basic.css">
  <link rel="stylesheet" href="/chain/css/timeline.css">
  <link rel="stylesheet" href="/chain/css/reports.css">
</head>
<body style="margin-bottom: 100px">
<script>
  document.body.className = 'fade';
</script>
<div class="topnav">
  <a href="/">Home</a>
  {% for plugin in plugins %}
      {% if plugin.address %}
        <a href="{{ plugin.address }}">{{ plugin.name }}</a>
      {% endif %}
  {% endfor %}
  <div class="topnav-right">
    <a href="https://github.com/mitre/caldera/wiki" target="_blank">Docs</a>
    <a href="/logout">Logout</a>
  </div>
</div>
<div id="notice" class="notice" style="display:none">Chrome is the only supported browser. Please change to that or some website components may not work.</div>

<div class="column" style="flex:100%;margin-top:0">
  <center>
    <div id="build-workflow-toolbar" class="row-toolbar subnav">
      <div class="row-toolbar-section" id="section-1">
        <button class="row-toolbar-button" onclick="viewSection('agents');">
          <span class="icon"><img src="/chain/img/group.png"></span>
          <span class="caption">Agents</span>
        </button>
      </div>
      <div class="row-toolbar-section" id="section-4">
        <button class="row-toolbar-button" onclick="viewSection('facts')">
          <span class="icon"><img src="/chain/img/facts.png"></span>
          <span class="caption">Facts</span>
        </button>
      </div>
      <div class="row-toolbar-section" id="section-7">
        <button class="row-toolbar-button" onclick="viewSection('abilities')">
          <span class="icon"><img src="/chain/img/ability.png"></span>
          <span class="caption">Abilities</span>
        </button>
      </div>
      <div class="row-toolbar-section" id="section-3">
        <button class="row-toolbar-button" onclick="viewSection('adversaries')">
          <span class="icon"><img src="/chain/img/hacker.png"></span>
          <span class="caption">Adversaries</span>
        </button>
      </div>
      <div class="row-toolbar-section" id="section-5">
        <button class="row-toolbar-button" onclick="viewSection('operations')">
          <span class="icon"><img src="/chain/img/operation.png"></span>
          <span class="caption">Operations</span>
        </button>
      </div>
      <div class="row-toolbar-section" id="section-6">
        <button class="row-toolbar-button" onclick="viewSection('reports')">
          <span class="icon"><img src="/chain/img/reports.png"></span>
          <span class="caption">Reports</span>
        </button>
      </div>
    </div>

    <div id="atomic-blocks" class="row-canvas">
      <center>

        <!-- agents -->

        <div id="agents" class="section-profile" style="display: none">
          <div class="row">
            <div class="column section-border" style="flex:25%;">
              <img src="/chain/img/group.png">
              <h4 style="margin-bottom:-5px">Agents</h4>
              <p class="section-description">
                  Groups are collections of agents so hosts can be compromised simultaneously.
              </p>
              <button type="button" class="button-embedded atomic-button" onclick="saveGroupsCallback()">Refresh agent table</button>
              <button id="addGroupBtn" type="button" class="button-success atomic-button" onclick="saveGroups()">Save changes</button>
            </div>
            <div class="column" style="flex:75%">
              <table id="netTbl" class="display" style="width:100%;" >
                <thead>
                <tr>
                  <th>Host <i style="font-size:11px">paw print</i></th>
                  <th>Status</th>
                  <th>Platform</th>
                  <th>Executors</th>
                  <th>Last seen</th>
                  <th>Sleep (Min/Max)</th>
                  <th>PID</th>
                  <th>Group</th>
                  <th></th>
                </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>

        <!-- fact sources -->

        <div id="facts" class="section-profile" style="display: none">
          <div class="row">
              <div class="column section-border" style="flex:25%">
              <img src="/chain/img/facts.png">
              <h4>Facts</h4>
              <p class="section-description">
                  Facts are identifiable pieces of data, collected by agents or loaded when the server starts.
                  A source is a collection of facts. When an operation starts, a new source is created and all facts
                  collected are stored inside. Add or remove facts using the form below.
              </p>
              <div class="duk"><img onclick="openDuk1()" class="duk-icon" src="/gui/img/duk.png"></div>
              <input id="factProperty" class="factOption" placeholder="Property"/>
              <input id="factValue" class="factOption" placeholder="Value"/>
              <select id="factSource" class="factOption">
                  {% for s in sources %}
                      <option value={{ s.id }} >{{ s.name }}</option>
                  {% endfor %}
              </select>
              <select id="factScore" class="factOption">
                  {% for n in range(10) %}
                      <option value={{ n }} >Score = {{ n }}</option>
                  {% endfor %}
              </select>
              <button type="button" class="button-success atomic-button" onclick="handleFactAdd()">Add</button>
            </div>
            <div class="column" style="flex:75%;overflow:hidden;">
              <table id="factTbl" class="display" style="width:100%;text-align:left">
                <thead>
                <tr>
                  <th></th>
                  <th>Source</th>
                  <th>Property</th>
                  <th>Score</th>
                  <th>Value</th>
                </tr>
                </thead>
                <tbody>
                    {% for s in sources %}
                        {% for f in s.facts %}
                        <tr style="padding:5px">
                            <td onclick="deleteFact({{ f.id }})">&#x274C;</td>
                            <td>{{ s.name }}</td>
                            <td>{{ f.property }}</td>
                            <td>{{ f.score }}</td>
                            <td>{{ f.value }}</td>
                        </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- abilities -->

        <div id="abilities" class="section-profile" style="display: none">
          <div class="row">
            <div class="column section-border" style="flex:25%;">
              <img src="/chain/img/ability.png">
              <h4>Abilities</h4>
              <p class="section-description">
                  Abilities are technique implementations - or procedures - which can be executed on any host
                  running an agent.
              </p>
              <div class="duk"><img onclick="openDuk2()" class="duk-icon" src="/gui/img/duk.png"></div>
              <div id="viewAbility">
                  <input id="ability-search" placeholder="Search for anything" onkeypress="searchAbilities('viewAbility', {{ exploits }})"/>
                  <h4 style="margin-top:10px;text-align:center;font-size:14px;">OR FILTER:</h4>
                  <select id="ability-tactic-filter" onchange="populateTechniques('viewAbility', {{ exploits }});">
                        <option disabled selected>Choose a tactic</option>
                        {% for tactic in tactics %}
                            <option value={{ tactic }} data-tactic={{ tactic }}>{{ tactic }}</option>
                        {% endfor %}}
                  </select>
                  <select id="ability-technique-filter" onchange="populateAbilities('viewAbility', {{ exploits }});">
                      <option disabled selected>Choose a technique</option>
                  </select>
                  <select id="ability-ability-filter" onchange="showAbility('viewAbility');">
                      <option disabled selected>0 abilities</option>
                  </select>
              </div>
                <button id="abilityNewBtn" type="button" class="button-notready atomic-button" onclick="saveAbility()">Save</button>
            </div>
            <div id="displayAbility" class="column codearea" style="flex:75%;text-align: left">
                <textarea id="ability-file" spellcheck="false"></textarea>
            </div>
          </div>
        </div>

        <!-- adversary -->

        <div id="adversaries" class="section-profile" style="display: none">
          <div class="row">
            <div class="column section-border" style="flex:25%;">
              <img src="/chain/img/hacker.png">
              <h4>Adversaries</h4>
              <br>
              <div class="toggle">
                <label class="switch"><input type="checkbox" id="togBtnAdv" onchange="toggleAdversaryView()">
                  <div class="slider round"><span class="on">ADD</span><span class="off">VIEW</span></div>
                </label>
              </div>
              <br>
              <p class="section-description">
                  Adversaries are collections of ATT&CK TTPs, designed to test specific threats.
              </p>
              <br>
              <div id="viewAdversary">
                  <select id="profile-existing-name" style="margin-top:-15px" onchange="loadAdversary();">
                    <option value="" disabled selected>Select an existing adversary</option>
                    {% for adv in adversaries %}
                        <option value="{{ adv.adversary_id }}">{{ adv.name }}</option>
                    {% endfor %}}
                  </select>
              </div>
              <div id="addAdversary" style="display: none">
                  <button class="button-embedded" onclick="addPhase(null)">Add phase</button>
              </div>
              <button id="advNewBtn" type="button" class="button-success atomic-button" onclick="saveAdversary()">Save</button>
              <div id="adv-flashy-holder">
                  <span id="message"></span>
              </div>
            </div>
            <div id="phases" class="column adversary-header" style="flex:75%;text-align: left">
                <input id="profile-goal" type="text" class="advGoal" placeholder="enter an adversary name">
                <input id="profile-description" type="text" placeholder="enter an adversary description">
                <br><br>
                <div id="dummy"></div>
            </div>
          </div>
        </div>

        <!-- templates -->

        <div id="phase-template" style="display: none;">
            <center>
                <ul id="profile-tests" class="profile-tests"></ul>
            </center>
        </div>

        <li id="ability-template" class="ability-box" style="display: none">
            <h4 id="name"></h4>
            <p id="description" style="opacity:0.7;font-size:13px"></p>
            <b><p id="ability-attack" style="text-transform: uppercase;font-size:11px;opacity:0.7;"></p></b>
            <center>
                <table class="topright">
                    <tr id="ability-metadata"></tr>
                </table>
                <div id="icon-row" class="icon-row"></div>
            </center>
        </li>

        <!-- operation -->

        <div id="operations" class="section-profile" style="display: none">
          <div class="row">
            <div class="column section-border" style="flex:25%">
              <img src="/chain/img/operation.png">
              <h4>Operations</h4>
              <br>
              <div class="toggle">
                <label class="switch"><input type="checkbox" id="togBtnOp" onchange="toggleOperationView()">
                  <div class="slider round"><span class="on">ADD</span><span class="off">VIEW</span></div>
                </label>
              </div>
              <p class="section-description">
                View or start operations from here
              </p>
              <div class="duk"><img onclick="openDuk3()" class="duk-icon" src="/gui/img/duk.png"></div>
              <div id="viewOperation">
                <select id="operation-list" style="margin-bottom: 15px;" onchange="refresh()">
                  <option id="operationDefault" value="" disabled selected>Operations</option>
                  {% for op in operations %}
                    <option class="operationOption" id="{{ op}}" value="{{ op.id }}">{{ op.name }} - {{ op.start }}</option>
                  {% endfor %}
                </select>
              </div>
              <div id="addOperation" style="display: none;">
                  <input id="queueName" class="queueOption" style="opacity:0.5" disabled="true" placeholder="Operation name" oninput="checkOpformValid()"/>
                  <select name="work" id="queueFlow" class="queueOption" style="opacity:0.5" disabled="true" onchange="checkOpformValid()">
                    <option value="" disabled selected>Adversary</option>
                    {% for adv in adversaries %}
                      <option id="qflow-{{ adv.adversary_id }}" value="{{ adv.id }}">{{ adv.name }}</option>
                    {% endfor %}
                  </select>
                  <select name="host" id="queueGroup" class="queueOption" style="opacity:0.5" disabled="true" onchange="checkOpformValid()">
                    <option value="" disabled selected>Group</option>
                    {% for g in groups %}
                        <option id="qgroup-{{ g }}" value="{{ g }}">{{ g }}</option>
                    {% endfor %}
                  </select>
                  <h4 style="margin-top:10px;">OPTIONAL:</h4>
                  <select name="state" id="queueState" class="queueOption" style="opacity:0.5" disabled="false">
                    <option id="qstate-run" value="running">Run Operation on Start</option>
                    <option id="qstate-paused" value="paused">Start Operation Paused</option>
                  </select>
                  <select name="planner" id="queuePlanner" class="queueOption" style="opacity:0.5" disabled="true">
                    {% for p in planners %}
                        <option value="{{ p.id }}">Use {{ p.name }} planner</option>
                    {% endfor %}
                  </select>
                  <select name="source" id="queueSource" class="queueOption" style="opacity:0.5" disabled="true">
                    <option value="" selected>No fact source</option>
                        {% for s in sources %}
                            <option value="{{ s.id }}">{{ s.name }}</option>
                        {% endfor %}
                  </select>
                  <select name="untrusted" id="queueUntrusted" class="queueOption" style="opacity:0.5" disabled="true">
                    <option value="0" selected>Not allow untrusted agents</option>
                    <option value="1">Allow untrusted agents</option>
                  </select>
                  <select name="autonomous" id="queueAuto" class="queueOption" style="opacity:0.5" disabled="true">
                    <option value="1" selected>Run autonomously</option>
                    <option value="0">Require manual approval</option>
                  </select>
                  <input name="jitter" id="queueJitter" class="queueOption" placeholder="Jitter (min/max) sec" style="opacity:0.5;" disabled="true" helpinfo="jitterInfo"/>
                  <button id="opBtn" type="button" style="opacity:0.5" disabled="true"
                      class="button-notready atomic-button" onclick="handleStartAction()">Start
                  </button>
              </div>
            </div>
            <div class="column op-selected" style="flex:75%">
              <div class="op-dets">
                <center>
                    <div class="op-control-container">
                        <span title="Pause Operation" class="op-control-item"><button id="op-control-pause" onclick="changeCurrentOperationState('paused')">&#2405;</button></span>
                        <span title="Run One Step" class="op-control-item"><button id="run-one-link" onclick="changeCurrentOperationState('run_one_link')">&#9658;&#10072;</button></span>
                        <span title="Run Operation" class="op-control-item"><button id="op-control-run" onclick="changeCurrentOperationState('running')">&#9658;</button></span>
                        <br>
                        <div class="toggle">
                            <label class="switch"><input type="checkbox" id="togBtnHil" onchange="toggleHil()">
                                <div class="slider round"><span class="on">Autonomous&emsp;&emsp;</span><span class="off">Manual Approval</span></div>
                            </label>
                        </div>
                    </div>
                    <br>
                    <span title="Current Operation Status" class="op-control-text" id="op-control-state"></span>
                    <br>
                    <br>
                    <table class="legend">
                      <tr>
                          <td class="queued">queued</td>
                          <td class="collected">collected</td>
                          <td class="success">success</td>
                          <td class="failure">failure</td>
                          <td class="timeout">timeout</td>
                          <td class="discarded">discarded</td>
                      </tr>
                    </table>
                </center>
              </div>
              <div id="content">
                <ul id="timeline" class="timeline">
                  <li id="time-start">
                </ul>
                <li id="link-template" class="event" data-date="" style="display: none">
                  <div class="member-infos">
                    <h1 id="time-tactic" class="member-title"></h1>
                    <div id="inner-contents">
                      <div id="decision-card" class="decision-card">
                        <table style="border-spacing:15px;">
                          <tr>
                            <td>Description:</td>
                            <td><p id="link-description" class="member-result"></p></td>
                          </tr>
                          <tr>
                            <td>Technique:</td>
                            <td><div class="tooltip" id="link-technique"></div></td>
                          </tr>
                          <tr>
                            <td>Collected:</td>
                            <td><p id="link-collect" class="member-result"></p></td>
                          </tr>
                          <tr>
                            <td>Finished:</td>
                            <td><p id="link-finish" class="member-result"></p></td>
                          </tr>
                          <tr>
                            <td>Command:</td>
                            <td><p id="time-action" class="member-result"></p></td>
                          </tr><tr>
                            <td>Executor:</td>
                            <td><p id="time-executor" class="member-result"></p></td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                </li>
              </div>

            </div>
          </div>
        </div>

        <!-- reports -->

        <div id="reports" class="section-profile" style="display: none">
          <div class="row">
            <div class="column section-border" style="flex:25%;">
              <img src="/chain/img/reports.png">
              <h4 style="margin-bottom:-5px">Reports</h4>
              <p class="section-description">
                  View an operation report
              </p>
              <select id="report-list" style="margin-bottom: 15px;" onchange="showReports()">
                  <option id="reportDefault" value="" disabled selected>Operations</option>
                  {% for op in operations %}
                    <option class="operationOption" id="{{ op.id }}" value="{{ op.id }}">{{ op.name }} - {{ op.start }}</option>
                  {% endfor %}
               </select>
              <select id="report-output" style="">
                  <option value="0" selected>Exclude Agent Output</option>
                  <option value="1">Include Agent Output</option>
               </select>
               <button id="reportBtn" type="button" class="button-notready atomic-button" onclick="downloadOperationReport()">Download</button>
            </div>
            <div class="column" style="flex:75%">
                <div class="reports-dash">
                    <div class="row">
                        <div class="column report-box" style="flex:20%;">
                            <p class="reports-dash-header">name</p>
                            <h4 id="report-name"></h4>
                            <p id="report-name-duration"></p>
                        </div>
                        <div class="column report-box" style="flex:20%;">
                            <p class="reports-dash-header">adversary</p>
                            <h4 id="report-adversary"></h4>
                            <p id="report-adversary-desc"></p>
                        </div>
                        <div class="column report-box" style="flex:20%;">
                            <p class="reports-dash-header">group</p>
                            <h4 id="report-group"></h4>
                            <p id="report-group-cnt"></p>
                        </div>
                        <div class="column report-box" style="flex:20%;">
                            <p class="reports-dash-header">steps</p>
                            <h4 id="report-steps"></h4>
                            <p id="report-steps-attack"></p>
                        </div>
                        <div class="column report-box" style="flex:20%;">
                            <p class="reports-dash-header">planner</p>
                            <h4 id="report-planner"></h4>
                            <p id="report-planner-desc"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column report-box" style="flex:100%;">
                            <p class="reports-dash-header">att&ck</p>
                            <table id="reports-dash-attack" align="center" border=1 frame=void rules=rows>
                                <th>worked / failed</th>
                                <th>Tactic</th>
                                <th>Technique ID</th>
                                <th>Technique name</th>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column report-box" style="flex:100%;">
                            <p class="reports-dash-header">skipped abilities</p>
                            <ul id="reports-skipped-abilities" class="skipped-abilities-list">
                                <li id="skipped-start">
                            </ul>
                            <li id="reports-dash-skipped-template" class="agent-skipped reports-dash" style="display: none;">
                                <div class="reports-skipped-container">
                                    <div class="column-left">
                                        <div class="skipped-box">
                                            <p class="reports-dash-header">agent</p>
                                            <h4 id="skipped-host-name">Agent</h4>
                                        </div>
                                        <div class="skipped-box">
                                            <p class="reports-dash-header">total skipped</p>
                                            <h4 id="skipped-host-total"></h4>
                                        </div>
                                    </div>
                                    <div class="column-right">
                                        <table id="skipped-host-abilities" align="center" border=1 frame=void rules=rows>
                                            <thead>
                                                <th>ability</th>
                                                <th>reason</th>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </li>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column report-box" style="flex:40%;">
                            <p class="reports-dash-header">facts</p>
                            <table id="reports-dash-facts" align="center" border=1 frame=void rules=rows>
                                <th>Property</th>
                                <th>Count</th>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="column report-box" style="flex:60%;">

                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>

        <!-- START MODALS -->

        <div id="more-modal" class="modal">
            <form class="modal-content ability-viewer">
                <div class="imgcontainer">
                  <span onclick="resetMoreModal();" class="close" title="Close Modal">&times;</span>
                </div>
                <div class="container">
                    <code id="resultCmd" style="color:black"></code>
                    <hr>
                    <pre id="resultView" style="text-align: left;max-width:800px;color:black"></pre>
                </div>
             </form>
        </div>

        <div id="phase-modal" class="modal">
            <form class="modal-content">
                <div class="container section-profile row ability-viewer">
                    <div class="column" style="flex:25%;">
                        <img src="/chain/img/ability.png">
                        <h4 style="text-align: center">Ability Finder</h4>
                        <br>
                        <input id="ability-search" placeholder="Search for anything" onkeypress="searchAbilities('phase-modal', {{ exploits }})"/>
                        <h4 style="margin-top:10px;text-align:center;font-size:14px;">OR FILTER:</h4>
                        <select id="ability-tactic-filter" onchange="populateTechniques('phase-modal', {{ exploits }});">
                            <option disabled selected>Choose a tactic</option>
                            {% for tactic in tactics %}
                                <option value={{ tactic }} data-tactic={{ tactic }}>{{ tactic }}</option>
                            {% endfor %}}
                        </select>
                        <select id="ability-technique-filter" onchange="populateAbilities('phase-modal', {{ exploits }});">
                            <option disabled selected>Choose a technique</option>
                        </select>
                        <br><br><hr><br>
                        <select id="ability-ability-filter" onchange="showAbility('phase-modal')">
                            <option disabled selected>0 abilities</option>
                        </select>
                        <button id="phaseBtn" type="button" class="button-success atomic-button" onclick="addToPhase()">Add to phase</button>
                    </div>
                    <div class="column codearea" style="flex:75%;">
                        <textarea id="ability-file" readonly spellcheck="false"></textarea>
                    </div>
                    <div class="imgcontainer">
                        <span onclick="document.getElementById('phase-modal').style.display='none'" class="close" title="Close Modal">&times;</span>
                    </div>
                </div>
             </form>
        </div>

        <div id="duk-modal" class="modal">
            <form class="modal-content">
                <div class="container">
                    <div class="row duk-modal">
                        <span onclick="document.getElementById('duk-modal').style.display='none'" class="close" title="Close Modal">&times;</span>
                        <div class="column" style="flex:8%">
                            <img src="/gui/img/duk.png"/>
                        </div>
                        <div class="column" style="flex:92%">
                            <p id="duk-text" style="color: white"></p>
                        </div>
                    </div>
                </div>
             </form>
        </div>

        <div id="loop-modal" class="modal section-profile">
            <form class="modal-content">
                <div class="container">
                    <div class="row duk-modal">
                        <div class="column" style="flex:25%">
                            <p id="hil-linkId"></p>
                            <h5 id="hil-paw"></h5>
                            <button class="atomic-button button-success approve" type="button" onclick="submitHilChanges(-3)">Approve</button>
                            <button class="atomic-button button-embedded discard" type="button" onclick="submitHilChanges(-2)">Discard</button>
                            <br><br>
                            <button class="atomic-button approveall" type="button" onclick="hilApproveAll()">Approve All</button>
                        </div>
                        <div class="column codearea" style="flex:75%">
                            <textarea id="hil-command" spellcheck="false"></textarea>
                        </div>
                    </div>
                </div>
             </form>
        </div>

        <!-- END MODALS -->

      </center>
    </div>
    <div id="atomic-canvas-end"></div>
  </center>
</div>
</body>
<script>
  document.addEventListener("DOMContentLoaded", function (e) {
    document.body.className = '';
  });
</script>
<script src="/gui/jquery/jquery.js"></script>
<script src="/gui/jquery/jquery-ui.js"></script>
<script src="/gui/jquery/jquery.dataTables.min.js"></script>
<script src="/gui/jquery/jquery.dataTables.select.min.js"></script>
<script src="/chain/js/sections.js"></script>
</html>